/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

/*
.viewport-1 canvas{
  width: 838px;
}
.viewport-2 canvas{
  width: 838px;
}*/

.cardboard-demo{
  width: auto; 
}

.viewport-1, .viewport-2{
  float: left;
  width: 50%;
  height: 50%;
  /*border: 1px solid;*/
}


/*.viewport-1{
  border: 1px solid red;
}

.viewport-2{
  border: 1px solid blue;
}
*/

.accelerometer-data, .quaternion{
  font-size: 1.5em;
}
